{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
{# {{ wtf.quick_form(form)}} #}

<form class="form-horizontal" action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label(class="col-sm-3 control-label", for="username") }}
        <div class="col-sm-4">
            {{ form.username(class="form-control", size="24", maxlength="24") }}
        </div>
    </div>
    <div class="form-group">
        {{ form.location.label(class="col-sm-3 control-label", for="location") }}
        <div class="col-sm-4">
            {{ form.location(class="form-control", maxlength="45") }}
        </div>
    </div>
    <div class="form-group">
        {{ form.office_room.label(class="col-sm-3 control-label", for="office_room") }}
        <div class="col-sm-4">
            {{ form.office_room(class="form-control", maxlength="4") }}
        </div>
    </div>
    <div class="form-group">
        {{ form.office_phone.label(class="col-sm-3 control-label", for="office_phone") }}
        <div class="col-sm-4">
            {{ form.office_phone(class="form-control", maxlength="4") }}
        </div>
    </div>
    <div class="form-group">
        {{ form.mobile_phone.label(class="col-sm-3 control-label", for="mobile_phone") }}
        <div class="col-sm-4">
            {{ form.mobile_phone(class="form-control", maxlength="4") }}
        </div>
    </div>
    <div class="form-group">
        {{ form.car_license_plate.label(class="col-sm-3 control-label", for="car_license_plate") }}
        <div class="col-sm-4">
            {{ form.car_license_plate(class="form-control", maxlength="4") }}
        </div>
    </div>
    <div class="form-group">
        {{ form.academic_position.label(class="col-sm-3 control-label", for="academic_position") }}
        <div class="col-sm-4">
            {{ form.academic_position(class="form-control", maxlength="4") }}
        </div>
    </div>
    <div class="form-group">
        {{ form.department.label(class="col-sm-3 control-label", for="department") }}
        <div class="col-sm-4">
            {{ form.department(class="form-control", maxlength="4") }}
        </div>
    </div>
    <div class="form-group">
        {{ form.about_me.label(class="col-sm-3 control-label", for="about_me") }}
        <div class="col-sm-4">
            {{ form.about_me(class="form-control", maxlength="4") }}
        </div>
    </div>
    {{ form.submit(class="btn btn-default") }}
    {# {% for field in form %} #}
    {# <div class="form-group {% if field.errors %} has-error has-feedback {% endif %}"> #}
    {#     {{ field.label(class="col-sm-3 control-label") }} #}
    {#     <div class="col-sm-9"> #}
    {#         {{ field(class="form-control") }} #}
    {#         {% if field.erros %} #}
    {#             <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span> #}
    {#         {% endif %} #}
    {#         {% for error in field.errors %} #}
    {#             <span class="help-block">{{ error }}</span> #}
    {#         {% endfor %} #}
    {#     </div> #}
    {# </div> #}
    {# {% endfor %} #}
</form>
{% endblock %}
