{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<div class="row">
    <p><h4>Please enter your email and password to login.</h4></p>
    <form action="{{ url_for('auth.login')}}" method='POST'>
        {{ form.hidden_tag() }}
        {{ form.id }}
        <div class="form-inline">
        <div class="form-group">
            {{ form.email.label(for="email", class="sr-only") }}
            {{ form.email(class="form-control", placeholder="Email") }}
            {{ form.password.label(for="password", class="sr-only") }}
            {{ form.password(class="form-control", placeholder="Password") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
