{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
    <div class="row">
        <h2>Please fill out the form to register.</h2>
        <div class="form-horizontal col-md-4">
                <form action="{{ url_for('auth.register')}}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.id }}
                    <div class="form-group">
                        {{ form.name.label(for="name") }} {{ form.name(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.lastname.label(for="lastname") }} {{ form.lastname(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(for="email") }} {{ form.email(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(for="password") }} {{ form.password(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.password2.label(for="password2") }} {{ form.password2(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-lg btn-primary") }}
                        <a href="{{ url_for('main.index') }}" class="btn btn-default btn-lg">Cancel</a> 
                    </div>
                </form>
        </div>
    </div>
</div>
{% endblock %}
