{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css">
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" charset="utf8"
    src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.14/d3.min.js"></script>
<script type="text/javascript" charset="utf8"
    src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>

<script>
    var pub_per_month = {{ pub_per_month|tojson|safe }};
    nv.addGraph(function() {
        var chart = nv.models.lineChart()
                        .margin({left: 100})
                        .x(function(d) { return d.key; })
                        .y(function(d) { return d.y; })
                        .useInteractiveGuideline(true)
                        .showLegend(true)
                        .showYAxis(true)
                        .showXAxis(true);
        chart.xAxis.axisLabel('Month');
        chart.yAxis.axisLabel('Number');
        d3.select('#pub_per_month_chart svg')
            .datum(pub_per_month)
            .call(chart);

        nv.utils.windowResize(function() { chart.update() });
        return chart;
    });
</script>
<script>
    var fundings = {{ fundings|tojson|safe }};
    nv.addGraph(function() {
        var width = 600, height = 400;
        var chart = nv.models.pieChart()
                        .x(function(d) { return d.label })
                        .y(function(d) { return d.value })
                        .width(width)
                        .height(height)
                        .showLabels(true)     //Display pie labels
                        .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
                        .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
                        .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
                        .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
                        ;

        d3.select("#fundings svg")
        .datum(fundings)
        .transition().duration(350)
        .call(chart)
        .style({'width': width, 'height': height});
        nv.utils.windowResize(function() { chart.update() });

        return chart;
    });
</script>
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <h1>Research Overview Year {{ year }}</h1>
            {% if fundings|length > 0 %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Research Funding</h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-success"><h4>Total {{ total_year_funding }} Million Baht. Approximately {{ pub_cost }} baht/paper.</h4></div>
                    <div id="fundings"><svg></svg></div>
                </div>
            </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Research Articles</h3>
                </div>
                <div class="panel-body">
                    <div id="pub_per_month_chart"><svg></svg></div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <th>No.</th>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Publication</th>
                        <th>Cited</th>
                        <th>Authors</th>
                    </thead>
                    {% for pub in pubs %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ pub.title }}</td>
                        <td>{{ pub.year }}</td>
                        <td>{{ pub.publication_name }}</td>
                        <td>{{ pub.citedby_count }}</td>
                        <td>{{ pub.authors }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
