{% extends "base.html" %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <h1>Welcome to MUMT Backoffice Services.</h1>
            <div class="alert alert-danger">
                <strong>Warning: </strong>You may have wondered into the dangerous zone of the system. Please step back unless you are an authorized users. Proceeding without permission may incur a serious legal complication.
            </div>
            <p>Choose actions below.</p>
            <ul>
                <li><a href="{{ url_for('backoffice.update_research_funding') }}">Update fundings from Google sheet.</a></li>
                <li><a href="{{ url_for('backoffice.update_stakeholder_eval') }}">Update graduate evaluation data from Google sheet</a></li>
                <li><a href="{{ url_for('backoffice.update_wellrounded') }}">Update wellrounded data from Google sheet</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
